* {
  box-sizing: border-box;
}
body {
  font-family: Open Sans, sans-serif;
  color: #333; 
}

img {
  max-width: 100%;
  height: auto;
}

.button {
	padding: 0.7rem 0;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;

	&__cta {
		background-color: $mainAccent;
	}
	&__cta:hover {
		background-color: color($mainAccent saturation(+ 10%) w(- 20%));
	}

	&__cancel {
		background-color: $lightGray;
	}
}