* {
  box-sizing: border-box;
}
body {
  font-family: Open Sans, sans-serif;
  color: #333;
	background-color: $cream;
}

.please-rotate {
  display:none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/rotate_screen_icon.gif');
  background-repeat: no-repeat;
  background-position: center 40%;
  height: 100vh;
  background-color: $oasisBlue;
  background-size: 130px 130px;

  /* @mixin atTooShort {
    display: block;
  } */

  p {
    position: relative;
    color: $white;
    top: 50%;
    text-align: center;
    font-size: 1.2rem;
    transform: translateY(-50%);
    padding-top: 80px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
	color: $mainAccent;
}

.button {
	padding: 0.7rem 1.2rem;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;

	&__cta {
		background-color: $mainAccent;
	}
	&__cta:hover {
		background-color: color($mainAccent saturation(+ 10%) w(- 20%));
	}

	&__cancel {
		background-color: $lightGray;
	}
}

.rte_wrapper {

			font-size: 0.875rem;
      line-height: 1.5rem;
			padding: 0  1rem;

      @mixin atMedium {
        padding-top: 0.9rem;
      }
      @mixin atHuge {
        font-size: 1rem;
        line-height: 1.7rem;
      }
			
			h2	{
				background-color: color($oasisBlue  w(+ 30%) a(85%));
				color: $white;
				margin: 3rem 0 3rem 0;
				padding: 1rem 5% 1rem 5%;
				font-weight: 300;
				font-size: 1.3rem;
				line-height: 2.5rem;

				@mixin atMedium{

          &:first-child {
            margin-top: 0;
          }
				}

        @mixin atLarge {
          font-size: 1.8rem;
        }

        
			}

			h3 {
				font-size: 1.325rem;
        color: color($oasisGreen w(+ 30%));
        font-weight: 400;
			}

      & a {
        font-weight: bold;
      }

      & ul {
        padding-left: 30px;
      }

      & li {
        padding-bottom: 1rem;
      }

      & h4 {
        font-size: 1.125rem;
        color: color($oasisBlue w(+ 30%));
        font-weight: 400;
      }

      & h5 {
        font-size: 0.875rem;
        color: color($mainAccent w(+ 20%));
        margin-bottom: 0;
        font-weight: 400;

        @mixin atHuge {
          font-size: 1.265rem;
        }
      }

      table {
        font-size: 12px;
        border: none;

        @mixin atMedium{
          font-size: 1rem;
        }
      }

      th {
        background-color: $oasisBlue;
        color: $white;
        font-weight: 400;
        border: 1px solid white;

        @mixin atMedium {
          padding: 0.9rem 1.2rem;
        }
      }

      td {
        padding: 6px 3px;
        text-align: center;
        border-left: 1px solid $oasisGreen;

        @mixin atLarge{
          padding: 0.9rem 1.2rem;
        }
      }
}

.hideonMobile {
  @media (max-width: 760px) {
    display: none!important;
  }
}
/* to remove styling from apple data detectors phone numbers */
a[x-apple-data-detectors] {
  color: white !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}