$oasisBlue: #0166af;
$oasisGreen: #30b256;
$cream: #fff8dd;

$background: #fcf0db;
$mainAccent: #ff6b35;
$lightBlue: #1f97ee;

$white: #ffffff;
$black: #000000;

$lightGray: lightgray;

$heading-font: "Open Sans", sans-serif;
