.large-hero {
  position: relative;
  background-color: $;
  padding-top: 1px;
  height: 100vh;
  background: @mixin simpleRadialGradient #fff #000;
  


}
  
  .large-hero__video-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: 1;
    display: none;
  }
  
  /*top: 50%; left: 50%;
    transform: translate(-50%, -50%);*/
  
  .large-hero__content {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .large-hero__top-area {
    /*background-color: green;*/
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
  }
  
  .large-hero__bottom-area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }