/* configure the spacing between the cards here*/

$grid-space-mobile: 0.15625rem;
$grid-space: .3125rem;

.cards {
  margin: $grid-space-mobile;
  display: flex;
  /*flex-direction: column;*/
  flex-wrap: wrap;

  @mixin atSmall{
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  &__card-wrapper {
    padding: $grid-space-mobile;
    width:  33%;
    perspective:1500;
    
    @mixin atMedium{
      width: 20%;
    } 
  }
  
  &__card { 
    color: $white;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    height: 60px;

    @mixin atSmall {
      height: 80px;
    }

    @mixin atMedium {
      height: 100px;
    }
  }
  
  &__cardface {
    backface-visibility: hidden;
    position: absolute;
    padding: calc($grid-space*2);
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1,102,175,.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__cardface-back {
    transform: rotateY(-180deg);
  }

  &__title {
    margin-top: 0;
    font-size: 0.725rem;
    margin-bottom:0;

    @mixin atTiny {
      font-size:  0.7em;
    }

    @mixin atSmall {
    font-size: 1.2rem;
    }

    @mixin atMedium {
    font-size: 1.1rem;
    }
  }

  &__subtitle {
    margin-bottom: 0;
    font-size: 0.7rem;
    color: $white;
    text-decoration: none;
    
    @mixin atSmall {
      font-size: 1rem;
    }

    @mixin atMedium {
      font-size: 1.2rem;
    }
  }
}