/* configure the spacing between the cards here*/

$grid-space-mobile: 0.15625rem;
$grid-space: .3125rem;

.cards {
  font-family: "PT Sans", sans-serif;
  margin: $grid-space-mobile;
  margin-top: 0;
  
  /*flex-direction: column;*/
  

  @mixin atSmall{
   
  }

  @mixin atMedium {
    
  }

  @mixin atLarge{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }

  @mixin atHuge{
    max-width: 1200px;
  }

  @mixin hideAtTooShort;
  
  &__card-wrapper {
    padding: $grid-space-mobile;
    width:  33%;
    float:left;
    perspective:1500;
    
    @mixin atMedium{
      width: 20%;
    }

    &.of-2 {
      @mixin atMedium {
        width: 50%;
      }
    }

    &.of-3 {
      @mixin atMedium {
        width: 33.33%;
      }
    }
    
    &.of-4 {

      width: 50%;

      @mixin atMedium {
        width: 25%;
      }
    }
    
    &.of-6 {

      width: 33.33%;

      @mixin atMedium {
        width: 16.66%;
      }
    }
    
  }
  
  &__card { 
    color: $white;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    height: 60px;

    @mixin atSmall {
      height: 80px;
    }

    @mixin atMedium {
      height: 100px;
    }
  }
  
  &__cardface {
    backface-visibility: hidden;
    position: absolute;
    /* padding: calc($grid-space*2); */
    padding: 5px;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($oasisBlue,0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @mixin atSmall {
      padding: calc($grid-space*2);
    }
  }

  &__cardface-front {

    &--secondary {
      background-color: color($oasisDarkGreen a(90%));
    }
    
    .cards__card-wrapper--alternate & {
      background-color: color($oasisBlue l(+11%) a(90%));
    }

  }

  &__cardface-back {
    transform: rotateY(-180deg);
    background-color: $oasisGreen;
  }

  &__title {
    margin-top: 0;
    font-size: 0.725rem;
    margin-bottom:0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .73);

    @mixin atTiny {
      font-size:  0.7em;
    }

    @mixin atSmall {
    font-size: 1.2rem;
    }

    @mixin atMedium {
    font-size: 1.1rem;
    }

    &--program {
      
      @mixin atLarge {
        font-size: 1.5rem;
      }
    }

    &--back {
      text-align: center;
    }
  }

  &__subtitle {
    margin-bottom: 0;
    font-size: 0.7rem;
    color: $white;
    text-decoration: none;
    
    @mixin atSmall {
      font-size: 1rem;
    }

    @mixin atMedium {
      font-size: 1.2rem;
    }

    &--smaller {
      font-size: 0.7rem;
      color: color($white a(80%));

      @mixin atMedium{
        font-size: 1rem;
      }
    }
  }
}