.footer {
  background-color: $cream;
  font-size: 0.8rem;
  line-height: 1rem;

  &__logos {
    text-align: center;
    padding: 1rem;

    a {
      display:block;
      margin: 0 auto;
    }

  }

  &__text {
    padding: 1rem;
    background-color: $oasisBlue;
    color: $white;
  }

  &__oasis-heading {
    margin: 0 0 1rem 0;
    font-size: 0.9rem;
    text-align: center;
  }

  &__vcard {
    text-align: center;

    .country-name {
      display: none;
    }

    .adr {
      margin-bottom: 1rem;
    }

    .email {
      color: $white;
    }
  }

  &__copyright {
    text-align: center;
    color: color($black a(50%));
    padding: 1rem 10% 1rem 10%;
    margin: 0;
  }

}