.footer {
  background-color: $cream;
  font-size: 0.8rem;
  line-height: 1rem;
  background-color: color($oasisGreen);
  
  @mixin atMedium {
    display: flex;
    background-color: color($oasisGreen);
  }

  &__logos {
    text-align: center;
    padding: 1rem;
    position: relative;

    @mixin atMedium {
      flex: 0 0 30%;
    }

    a {

      @mixin atMedium {
        position: relative;
        top:50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display:block;
        margin: 0 auto;
      }

      
    }

    @mixin atHuge {
      padding-left: 15%;
    }

  }

  &__text {
    padding: 1rem;
    background-color: $oasisBlue;
    color: $white;

    @mixin atMedium {
      flex: 0 0 70%;
    }
    @mixin atHuge{
      padding-right: 10%;
    }
  }

  &__oasis-heading {
    margin: 0 0 1rem 0;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 300;

    @mixin atMedium {
      font-size: 1.2rem;
      padding-bottom: 1.1rem;
    }

    @mixin atLarge {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }
  }

  &__vcard {
    text-align: center;

    .row {
      @mixin atMedium {
      text-align: left;
      display: flex;
      }
    }

    & .column1 {
      @mixin atMedium {
        flex: 0 0 50%;
        text-align: right;
        border-right: 1px solid color($white a(60%));
        padding-right: 1rem;
      }
    }

    & .column2 {
      @mixin atMedium {
        flex: 0 0 50%;
        padding-left: 1rem;
      }
    }

    .country-name {
      display: none;
    }

    .adr {
      margin-bottom: 1rem;
    }

    .email {
      color: $white;
    }
  }

  &__copyright {
    text-align: center;
    color: color($black a(50%));
    padding: 1rem 10% 1rem 10%;
    margin: 0;
    font-size: 0.9rem;
  }

}