.large-hero {
  position: relative;
  padding-top: 1px;
  height: 100vh;
  overflow: hidden;
  /* background: @mixin simpleRadialGradient #fff #000; */
 
  /* &--video-grid { */
     /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII='); */
  /* or: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII= */
  /* } */

  &--smaller {
    height: auto;

  }

  @mixin hideAtTooShort;
  
  &__video-bg {
    position: absolute;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100;
    
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display:none;

/*     @mixin atLarge {
      display: block;
    } */
  }

  &__content {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top-area {
    flex: 1 0 0;
    position: relative;
    display: flex;

    padding-top: 70px;
  }

  &__bottom-area {
    
    display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    @mixin atLarge {
      display: block;
    }

  }
  


}