.mx {

  &__section-heading {
    background-color: color($oasisGreen  w(+ 30%));
    color: $white;
    text-align: center;
    padding: 1.5rem 5%;

    @mixin atHuge {
      padding: 2.5rem 5%;
    }
    
    &__title {
      margin: 0;
      font-weight: 300;
      font-size: 2rem;
    }
  }

  &__rt-image {
    /* font-family: "Josefin Sans", sans-serif; */
    
    
    background-color: $cream;    

    /*----------  elements  ----------*/

    &__block-row {
      padding-top: 1.3rem;

      @mixin atMedium {
        display: flex;
        padding-bottom: 1.3rem;
      }

      @mixin atLarge{
        max-width: 900px;
        margin: 0 auto;
      }

      @mixin atHuge {
       padding: 0;
       max-width: 1200px;
      }

    }

    &__title {
      background-color: color($oasisBlue  w(+ 30%) a(85%));
      color: $white;
      margin: 0 2%;
      padding: 0.5rem 5% 1rem 5%;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 2.5rem;

      @mixin atHuge{
        margin: 1rem 0 0 0;
        padding: 2rem 4rem;
      }
    }

    /*----------  text block styles  ----------*/

    &__text-content{
      font-size: 0.875rem;
      line-height: 1.5rem;

      @mixin atHuge {
        padding-top: .9rem;
        font-size: 1rem;
        line-height: 1.7rem;
      }

      & a {
        font-weight: bold;
      }

      & ul {
        padding-left: 30px;
      }

      & li {
        padding-bottom: 1rem;
      }

      & h4 {
        font-size: 1.125rem;
        color: color($oasisBlue w(+ 30%));
        font-weight: 400;
      }

      & h4:first-child {
        margin-top: 0;

        @mixin atHuge {
          font-size: 1.265rem;
        }
      }

      & h5 {
        font-size: 0.875rem;
        color: color($mainAccent w(+ 20%));
        margin-bottom: 0;
        font-weight: 400;

        @mixin atHuge {
          font-size: 1.265rem;
        }
      }
    }

    &__rich-text {
      padding: 1rem 5%;
    }
    
   /*----------  image  ----------*/

    &__image-wrapper {
     margin: 0 2%;
     border: 7px solid color($oasisBlue  w(+ 30%) a(85%));

     @mixin atMedium {
       flex: 0 0 40%;
       overflow: hidden;
       position: relative;
     }

     @mixin atLarge {
       flex: 0 0 50%;
     }

     @mixin atHuge {
       border: none;
       margin: 0;
     }
    }

    &__image {
      display:block;
      box-shadow: 1px 1px 0px rgba($white,0.5),-1px -1px 0px rgba($white,0.5);

      @mixin atMedium{
        max-width: none;
        height: 100%;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      @mixin atLarge {
        top:0%;
        transform: translateX(-50%) translateY(0);
        min-height: 100%;
        min-width: 100%;
        height: auto;
      }

      @mixin atHuge{
        min-width: 100%;
        max-width: 100%;
      }
    }

    &-even {
      
      @mixin atMedium {
        background-color: color($cream w(- 10%)); 
      }

      .mx__rt-image__block-row {
        @mixin atHuge {
          flex-direction: row-reverse;
        }
      }
      
    }
  }

  &__rt-noimage {


    

    &__block-row{

      
    }

    &__title {
      column-span: all;
      background-color: color($oasisBlue  w(+ 30%) a(85%));
      color: $white;
      margin: 0;
      padding: 0.5rem 5% 1rem 5%;
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 2.5rem;

      @mixin atHuge{
        margin: 1rem 0 0 0;
        padding: 2rem 4rem;
      }
    }

    &__rich-text {

      padding: 0.7rem;

      background-color: $white;
      
      
      @mixin  atLarge {
       
        padding: 2rem 2rem;

      }
    }

    &__text-content {

      @mixin atLarge {
        margin: 0 auto;
        max-width: 1000px;
      }
      
      & a {
        font-weight: bold;
      }

      & ul {
        padding-left: 30px;
      }

      & li {
        padding-bottom: 1rem;
      }

      & h4 {
        font-size: 1.125rem;
        color: color($oasisBlue w(+ 30%));
        font-weight: 400;
      }

      & h5 {
        font-size: 0.875rem;
        color: color($mainAccent w(+ 20%));
        margin-bottom: 0;
        font-weight: 400;

        @mixin atHuge {
          font-size: 1.265rem;
        }
      }

      table {
        font-size: 12px;

        @mixin atLarge{
          font-size: 1rem;
        }
      }

      th {
        background-color: $oasisBlue;
        color: $white;
        font-weight: 400;

        @mixin atLarge {
          padding: 0.9rem 1.2rem;
        }
      }

      td {
        padding: 6px 3px;

        @mixin atLarge{
          padding: 0.9rem 1.2rem;
        }
      }

    }

    &-even {
      
      @mixin atMedium {
        background-color: color($cream w(- 10%)); 
      }
      
    }

  }

  &__faqs{

    &__faq-wrapper {
      margin-left: 5%;
      margin-right: 5%;
    }

    &__question {
      padding-bottom:0;
      padding-top: 1rem;
      cursor: pointer;
      
      &-text {
        background-color: color($oasisGreen w(+20%) );
        color: $white;
        margin-bottom: 0;
        margin-top:0;
        padding: 1rem;
        font-weight: 400;
      }
    }

    &__answer {
      background-color: $white;
      padding: 1rem;

      a {
        font-weight: bold;
      }
    }



    &__text-content {

      margin-bottom: 1rem;

      @mixin atLarge {
        margin: 0 auto 1rem auto;
        max-width: 1000px;
      }
    }

    &__rich-text {
      
    }
  }
}