

$mobile_break: atLarge;

.top-nav {

  opacity: 0;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  background-color: $oasisBlue;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-out;

  @mixin $mobile_break {
    display:  block;
    position: static;
    width: auto;
    opacity: 1;
    transition: none;
    transform: none;
    height: auto;
    background-color: transparent;
  }

  &.top-nav__visible {
    transform: scaleX(1);
    opacity: 1;
  }

  &__mobile-title {
    color: $white;
    margin: 2rem  1rem 1.3rem 1rem;
    font-size:  2em;

    @mixin atMedium {
      margin-top: 3rem;
    }

    @mixin $mobile_break {
      display: none;
    }
  }

  &__outer-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba($white, 0.3);
    
    @mixin $mobile_break  {
      display: flex;
      border-top: none;
    }

    & > li {
      background-color: $oasisBlue;
      position: relative;
      border-bottom: 1px solid rgba($white, 0.3);

      &:last-child {
        border-bottom: none;
      }

      @mixin $mobile_break{
        display: inline-block;  
        border-radius: 0 0 10px 10px ;
        margin-left: 10px;
        box-shadow: 2px 2px 3px rgba($black, 0.3), -2px -2px 3px rgba($black, 0.3);
      }
    }
    
    & > li a {
      font-size: 1.1rem;
      text-decoration: none;
      color: $white;
      padding: 1.2rem  1.5rem;
      display: block; 
    
    @mixin $mobile_break {
      display: inline-block;
    } 
    }

    & > li.p-1031 {
      background-color: $mainAccent;
    }

    & > li.p-1529,
    & > li.p-1510,
    & > li.p-1512,
    & > li.p-1513,
    & > li.p-1514,
    & > li.p-1515,
    & > li.p-1516,
    & > li.p-1517,
    & > li.p-1518,
    & > li.p-1519
      {
      background-color: $oasisGreen;
    }

    & > li:hover {
      @mixin $mobile_break {
        background-color: $oasisGreen;
        padding-top:0.2rem;
      }
      
    }

    & > li:hover a {
      @mixin $mobile_break {
        padding-bottom: 1rem;
      }
    }
  }

  

  &__inner-list {
    list-style: none;
    margin: 0;
    padding: 0;

    @mixin $mobile_break {
      height: auto;
      display: none;
      position: absolute;
      top: 3.70rem;
      left: 0;
      min-width: 100%;
      width: 200px;
      z-index: 999;
      box-shadow: 2px 2px 6px rgba($black, 0.3), -2px 0 6px rgba($black, 0.3);
    }
  }

  &__item-level-3 {
    background-color: $oasisBlue;
    height: 0;

    @mixin $mobile_break {
      height: auto;
      border-top: 1px solid rgba($white, 0.2);
    }
  }

  &__item-level-3:first-child {

    @mixin $mobile_break {
      border-top: none;
    }
  }

  &__item-level-3 a {
    display: block;
  }

  &__item-level-3:hover {
    background-color: $oasisGreen;
  }

  &__current,
  &__active-parent {
    background-color: $oasisGreen;
  }

  &__submenu-button {
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    border-left: 1px solid rgba($white, 0.1);
    color: $white;
  }

  &__has-children  {
    
    /* icons */
    > .top-nav__submenu-button {
      
      display: inline-block;

      .top-nav__ico-plus,
      .top-nav__ico-minus {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%,-50%);
        margin-left: 5px;
      }
      .top-nav__ico-plus {display: inline-block;}
    }

    &.submenu-open {
      > .top-nav__submenu-button {
          background-color: $oasisBlue;
        .top-nav__ico-plus {display: none;}
        .top-nav__ico-minus {display: inline-block;}
      }
      .top-nav__item-level-3 {
        height: auto;
        border-top: 1px dotted rgba($white, 0.2);
        background-color: #197bc1;
        
        a {
          padding: 0.9rem  2rem ;
        }

        &.top-nav__current {
          background-color: color($oasisGreen saturation(+ 10%) w(+ 5%));
        }
        
      }

    }

    @mixin $mobile_break {

      > .top-nav__submenu-button {display: none;}

      > a .top-nav__ico-plus {
        display: none;
      }
      
      > a .top-nav__ico-down {
        display: inline-block;
        margin-left: 5px;
      }

    }

    /* end icons */

    &:hover {

      @mixin $mobile_break {
        & {
          background-color: $oasisGreen;
          border-radius: 0;
        }
      }

      > .top-nav__inner-list {
        display:block;
      }
    }

  }

}